.pass{
    font-weight: bolder;
}

* {
    text-decoration: none}
.info{
    font-weight: bold;    
    padding-bottom: 2px;
}
.navbar-brand
    {
        padding-left: 10px;
    }

html, body {
    min-height: 100%;
    background-color: #C7CCD1;
} 

.content-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#passwords {
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #F4F5F6	;
    display: inline-block;
    position: fixed;
    padding: 10px;
    max-height: 500px;
    overflow-y: scroll;
}

#passlist{
    table-layout: fixed;
    width: 700px; 
}

#last-column{
    width:100px;
}

tr {
    padding-top: 10px;;
}
