.pass{
    /* visibility: none; */
    font-weight: bolder;
}


* {
    text-decoration: none}
.info{
    font-weight: bold;    
    padding-bottom: 2px;
}
.navbar-brand
    {
        padding-left: 10px;
    }

html, body {
    min-height: 100%;
    background-color: #878E99;
} 

.content-body {
    display: flex;
    justify-content: center;
    margin-top: 50px;

    
    
}

#passwords {
    /* width:3000px; */
    /* align-self: center; */
    align-content: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    background-color: #D3D6D9	;
    display: inline-block;
    position: fixed;
    padding: 10px;
    border-radius: 15px;
}

#passlist{
    table-layout: fixed;
    width: 700px;
    
}

#last-column{
    width:100px;
}

tr {
    padding-top: 10px;;
}
