<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>PassPocket</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.min.css') }}" />
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}" />        
    </head>

    <body>
        {% block navbar %}
        <nav class="navbar navbar-expand-lg  justify-content-end navbar-dark bg-dark">
            <div class="d-flex flex-grow-1">
                    <a class="navbar-brand" >PassPocket</a> 
                    <ul class="navbar-nav ml-auto">
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('main.index')}}">Dashboard</a>
                        </li>
                        {% endif %}
                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('main.add_password') }}">Add new password</a>
                        </li>
                        {% endif %}

                        {% if current_user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('auth.logout') }}">Logout</a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.signup')}}">Signup</a>
                        </li>
                        {% endif %}
                        {% if not current_user.is_authenticated %}
                        
                        <li class="nav-item">
                            <a class="nav-link" href="{{url_for('auth.login')}}">Log in</a>
                        </li>
                        {% endif %}
                    </ul>
            </div>
        </nav>
        {% endblock %}                  
        <div class="content-body">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>