{% extends "base.html" %}

{% block content %}
{% with messages = get_flashed_messages() %}
            {% if messages %}
                <div class="notification is-danger">
                    {{ messages[0] }} </a>.
                </div>
            {% endif %}
        {% endwith %}

<h1 class="title"> Welcome {{ login }}! This is your dashboard.</h1>

<div  id="passwords">
<table  id="passlist">
    <colgroup>
        <col>
        <col>
        <col>
        <col id="last-column">
      </colgroup>
    <tr>
        <th id="website">Website</th>
        <th>Username</th>
        <th>Password</th>
        <th id = "column-show"></th>
        
        <th class ="form" >
            <div class="input-group mb-3">
                <form method="POST" action="/master">
                    <input type="text" class="form-control" type="password" name="master_password" placeholder="Your Master Password" aria-describedby="button-addon2">
                    <input type="submit" value="Ok" name="sumbit">
                </form>
            </div>
        </th>
    </tr>
    
    {% with data=data %}
        {% for row in data %}
        <tr>
            <th>{{ row.site_name }}</th>
            <th>{{ row.username }} </th>

            {% if show == True  %}
                {% if row.id|float ==  id|float %} 
                 <th class="shown password">{{ pass_unhashed }}</th>
                 {% else %}
                 <th class="hidden-password"> ******  </th>
                {% endif %}
            {% endif %}

            {% if show != True %}
                <th class="hidden-password"> ******  </th>
            {% endif %}
                <th class ="form" > <form method="POST" action="/">
                    <input type="hidden" name="id" id="id-{{row.id}}" value="{{ row.id }}">
                    <input type="submit" value="Show" name="submit"></th> 
                </form></th>
            </th>
        </tr>
        {% endfor %}
</table>
    {% endwith %}
</div>
{% endblock %}